*{
    margin:0;
    padding:0;
    border:0;
    overflow-x: hidden;
}
/*-----header-----*/
header{
    background-color: #C1FF71;
    padding:2em;
    }
.titulo{
    position: relative;
    display: flex;
    bottom: 1em;
    font-size: 25px;
    font-family: Georgia;
    text-align: center;
    margin-left: 28.7%;
    top: -5em;
   
}
p{
    column-gap: 3px;
    column-rule: 2px;
    font-size: 25px;
    text-align: center;
    font-family: 'Times New Roman';
}
/*-----body-----*/
body{
    background-color:#80AE43;
    padding:1em;
}

.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
  }
  .slides {
    display: flex;
  }
  .slide {
    display: none;
  }
  .slide img {
    width: 500px;
    height: 500px;
  }
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}

/*-----footer-----*/

footer{
 background-color: #C1FF71;
}
.logos{
    text-align: center;
}
.columna{
    float: left;
    width: 31.92%;
    padding-right: table;
    text-align: center;
}
.fila::after{
    content:" ";
    clear: both;
    display: table;
}









